.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: black;
  color: white;
  font-weight: bold;
}

ul {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

Link {
  color: white;
}

.container {
  padding: 2em;
  margin: 2em;
}

p {
  text-align: justify;
}

.profile-pic {
  float: left;
  margin-right: 1em;
}

header {
  width: 100%;
  background-image: url("images/header.jpg");
}

.header-container{
  height: 153px;
  display: grid;
  grid-template-columns: 1fr 3.34fr 1fr;
}

.logo {
  height: 153px;
  background-repeat: no-repeat;
  background-image: url("images/logo.jpg");
}

.filler-transparent-white{
  background-color: white;
  opacity: 50%;
}

.nav-container {
  /* height: 50px; */
  display: grid;
  opacity: 70%;
  grid-template-columns: 1fr 3.34fr 1fr;
}

.body-container {
  display: flex;
  background-color: black;
}

.left-border {
  flex: 1;
}

.main-body {
  flex: 3.33;
  background-color: white;
}

.right-border {
  flex: 1;
}
